<div class="full-width  primary-background-gradient">
    <div class="container">
        <h2 class="text-center">{{services.cleaningServicesList.mainHeading}}</h2>
        <div id="cleaning-services-list" class="text-left">
            <div class="content">
                <h3>{{services.cleaningServicesList.subHeading}}</h3>
                <p [innerHTML]="services.cleaningServicesList.text | keepHtml"></p>
            </div>
            <!-- End of Content -->
            <div class="content">
                <ul>
                    <li *ngFor="let item of services.cleaningServicesList.list.list1"><a target="_self">{{item.text}}</a><br></li>
                </ul>
            </div>
            <!-- End of Content -->
            <div class="content">
                <ul class="moto-text_normal">
                    <li *ngFor="let item of services.cleaningServicesList.list.list2"><a target="_self">{{item.text}}</a><br></li>
                </ul>
            </div>
            <!-- End of Content -->
        </div>
    </div>
</div>

<div class="full-width">
    <div class="container">
        <h2 class="text-center">{{services.servicesOverview.mainHeading}}</h2>
        <div id="services-overview" class="text-center">
            <div class="content-container" *ngFor="let item of services.servicesOverview.features;">
                <div class="content text-left">
                    <div class="img-container">
                        <img class="img-shadow" src="{{item.img.url}}" alt="Image">
                    </div>

                    <div class="inner-text">
                        <h5>{{item.heading}}</h5>
                        <p>{{item.text}}</p>
                    </div>

                </div>
            </div>
            <!-- End of Content -->
        </div>
    </div>
</div>

<div class="full-width">
    <div class="container">

        <div id="green-cleaning" class="text-left">
            <div class="content-container">

                <div class="content">
                    <h2 class="text-left green-text" >Green Cleaning Is Healthy Cleaning</h2>

                    <p> A green workplace has been found to be safer for employees and visitors alike. Also, in many instances, green cleaning processes
                    are better for your facility.</p>
                    <p> For instance, regular cleaning agents tend to be caustic, wearing out surfaces over time and diminishing the longevity of your facility and your furnishings. Additionally, some cleaners can agitate those with sensitivities to chemicals. That’s
                    why ISA's Green program focuses on reducing particulates, harmful emissions, and exposure to caustic agents with:</p>

                    <img style="position: absolute; left:0; z-index: -100 " src="./assets/green-cleaning-services.gif" alt="">
                </div>
                <!-- End of Content -->
            </div>
            <!-- End of Content Cointainer -->

            <div class="content-container primary-background-gradient">
                    <app-contact-form></app-contact-form>
                </div>
                <!-- End of Content Cointainer -->
            </div>
        </div>
    </div>