  <div id="services" class="container">
    <h1 class="text-center">SERVICES</h1>
    <div class="row">
      <div class="col-md-3" >
        <div *ngFor="let item of content.services">
          <h2>{{item.service}}</h2>
          <p>{{item.description}}</p>
          <div class="img-container">
            <img src="{{item.img.imgSrc}}" alt="{{item.img.altText}}">
          </div>
          <a routerLink="{{item.url}}">Read More</a>
        </div>
      </div>
     
      <div class="col-md-9">
        
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>