#floor-rejuventation {
    display: flex;
    flex-direction: row;

    .content:nth-child(1) {
        flex-basis: 30%;
        .img-container {
            width: 100%;
        }
        img {
            width: 100%;
        }
    }

    .content:nth-child(2) {
        flex-basis: 70%;
    }

 button a {
     color: white;
 }
}

#carpet-cleanse {
    display: flex;
    flex-direction: row;

    .content:nth-child(2) {
        flex-basis: 30%;
        .img-container {
            width: 100%;
        }
        img {
            width: 100%;
        }
    }

    .content:nth-child(1) {
        flex-basis: 70%;
    }

 button a {
     color: white;
 }
}

#cleaning-services-list ul a {
    color: #fff;
}

.push-right {
    float: right;
}
.push-right {
    float: left;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #cleaning-services-list {
        display: flex;
        flex-direction: column;

    }

    #services-overview {
        display: flex;
        flex-direction: column;
    }

    #services-overview .content .img-container {
        box-sizing: border-box;
        padding:30px 0;
    }
    #services-overview .content img {
        width: 100%;
    }
} 


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #cleaning-services-list {
        display: flex;
        flex-direction: row;
    }

    #cleaning-services-list .content:nth-child(1) {
     flex-basis: 50%;
    }
    #cleaning-services-list .content:nth-child(2), #cleaning-services-list .content:nth-child(3) {
     flex-basis: 25%;
    }


    #services-overview {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
   
    }
    #services-overview .content-container  {
        flex: 0 0 33.33%;
        margin-bottom: 3em;
    }
    #services-overview .content {
         display: flex;
         flex-direction: row;
    }

    #services-overview .inner-text {
        flex-basis: 100%;
    }


    #services-overview .content .img-container {
        box-sizing: border-box;
        padding: 0 30px;
        flex-basis: 100%;
    }

    #services-overview .content img {
        width: 100%;
    }

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
        
     #green-cleaning {
        display: flex;
        flex-direction: row;
    .content-container {
        flex-basis: 50%;
    }
        .img-container img {
            position: absolute; 
            left:0;
             z-index: -100 ;
        }
    }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}