<div class="container">
    <div class="row">
            <div class="col-12 col-md-6">
                <h1>WE COME TO YOU</h1>
                <p>Why trouble going to a car shop? Start saving time today.</p>
                <a href="" class="btn-1">Call us</a>
                <app-contact-form></app-contact-form>
            </div>

            <div class="col-12 col-md-6">
                <h1>Why waste your time going to a shop?<span class="">Sit and have a drink</span></h1>
                <ul>
                    <li *ngFor="let item of content.preventativeMaintenance">{{item}}</li>
                </ul>
            </div>

    </div>
</div>