<div class="full-width">
    <div class="container">

        <div id="contact-us" class="text-left">
            <div class="content-container">

                <div class="content">
                    <h2 class="text-left">Contact Us</h2>
                    <p>Please feel free to contact us by any of the methods below or by filling out the form to the right. An Anago® representative
                    will respond promptly.</p>

                </div>
                <!-- End of Content -->
            </div>
            <!-- End of Content Cointainer -->

            <div class="content-container primary-background-gradient">
                <div class="content">
                    <div class="form-title">
                        <h4>Get a
                            <br>
                            <strong>
                                <em>FREE</em>
                                <br>Cleaning</strong>
                            <br>
                            <em>Quote Today!</em>
                        </h4>
                    </div>
                    <app-contact-form></app-contact-form>
                    <!-- End of Content -->
                </div>
                <!-- End of Content Cointainer -->
            </div>
        </div>
    </div>