/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #commercial-cleaning {
        display: flex;
        flex-direction: column;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #green-cleaning {
        display: flex;
        flex-direction: row;
    }

    #green-cleaning .content-container {
        padding: 2em 4em;
        flex-basis: 50%;
    }


    #green-cleaning .content {
        
    }


} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
