<div class="container">
    <h1 class="text-center">CONTACT</h1>
    <div id="contact-us" class="text-left">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-8 col-xl-9">
                <h2 class="text-left">Get in touch</h2>
                <p>Please feel free to contact us by any of the methods below or by filling out the form to the right. An ISA
                    representative
                    will respond promptly.</p>
                <div class="img-container" style="width:100%;">
                    <img style="width:100%;" src="./assets/isa-van-45.png" alt="cleaning van">
                </div>
            </div>
            <!-- End of Content Cointainer -->
            
            <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                <img src="./assets/fully-insured.gif" class="img-fluid py-5" alt="Fully Insured">
                <app-contact-form></app-contact-form>
            </div>
        </div>
    </div>
</div>
