@import "src/scss/mixins";
#contact-us {
    display: flex;
    flex-direction: column;

    img {
        width: 100%;
    }
    @include breakpoint(md) {

    flex-direction: row;

    .content-container:nth-child(1) {
        flex-basis: 70%;

        .img-container {
            width: 100%;
        }
        img {
            width: 100%;
        }
    }   

    .content-container:nth-child(2) {
            flex-basis: 30%;
        }   

    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
