<app-slider></app-slider>

<div class="full-width">
    <div class="container">
        <div id="contact-us" class="text-left">
            <div class="content-container">

                <div class="content">
                    <h2 class="text-left">Contact Us</h2>
                    <p>Please feel free to contact us by any of the methods below or by filling out the form to the right. An ISA representative
                    will respond promptly.</p>
                    <div class="img-container">
                        <img src="./assets/cleaning-car.png" alt="cleaning van">
                    </div>
                </div>
                <!-- End of Content -->
            </div>
            <!-- End of Content Cointainer -->

            <div class="content-container">
               <app-contact-form></app-contact-form>
            </div>
        </div>
    </div>
</div>