@import "src/scss/_mixins.scss";

#floor-rejuventation {
    display: flex;
    flex-direction: column;
    button a {
        color: white;
    }

    .content:nth-child(1) {
        .img-container {
            box-sizing: border-box;
            padding: 25px;
            width: 100%;
        }
        img {
            width: 100%;
        }
    }

    @include breakpoint(md) {
        flex-direction: row;


        .content:nth-child(1) {
            flex-basis: 30%;
        }

        .content:nth-child(2) {
            flex-basis: 70%;
        }
    }
    
}
