<div class="container">
  <div>
    <h2>Floor Rejuvenation Service</h2>
  </div>
  <div id="floor-rejuventation">

    <div class="content">
      <div class="img-container">
        <img src="./assets/waxed-floor.jpg" alt="">
      </div>
    </div>
    <div class="content">
      <p>ISA prides itself on rejuvenating floors all over the the great toronto area. Our floor rejuvenation service
        has gained a huge popularity in cities like markham and richmond hill. There is no floor too dirty that we
        cannot tackle! </p>
      <p>We all know how important first impressions are so why not impress your visitors by rejuvenating those old
        looking floors with our floor rejuvenation service.</p>
    </div>
    <!-- End of Content -->
  </div>
</div>