<h2>THE BEST CHOICE FOR PROFESSIONAL FLOOR MAINTENANCE RESULTS</h2>
<p>Count on ISA to keep your hard-surface floors looking their best. Whether your floors are vinyl, ceramic, marble,
quarry, tile, terrazzo or other materials, we will custom design a care plan for your needs. ISA uses the best
floor care products and most innovative equipment and methods for optimal effectiveness.</p>

<p>Combined with our 20+ years of experience and extensive research and development, we have the expertise to service
hospitals, churches, offices, schools, high-tech and many other types of facilities.
</p>

<h2>DIRTY OLD FLOORS? TRY OUR--FLOOR REJUVENATION SERVICE</h2>
<div class="row">
  <div class="col-12 col-md-8">
    <p>ISA prides itself for rejuvenating floors all over the the great toronto area. Our floor rejuvenation service
      has gained a huge popularity in cities like markham and richmond hill. There is no floor too dirty that we
      cannot tackle. </p>
    <p>We all know how important first impressions are so why not impress your visitors by rejuvenating those old
      looking floors with our floor rejuvenation service.</p>

    <p>Our Floor Rejuvenation Service Includes:</p>
      <ul>
        <li>Stripping and Waxing</li>
        <li>Tile & Grout Cleaning</li>
        <li>Sealing</li>
        <li>Scrubbing</li>
        <li>High speed burnishing</li>
        <li><b>10% OFF TO NEW CLIENTS</b></li>
      </ul>
    </div>
  <div class="col-12 col-md-4">
    <div class="img-container">
      <img src="#" alt="shiny floors">
    </div>
  </div>
</div>

<h2>ENHANCE SLIP RESISTANCE</h2>
<p>Did you know clean and well maintained floors offer greater slip and fall protection. Using the proper cleaning and finishing techniques is critical for maintaining the slip-resistance rating of your
floor.</p>

<h2>SHINY FLOORS WILL HELP YOUR BUSINESS SHINE</h2>
<ul>
  <li>Maintain your professional appearance to combat your competitors</li>
  <li>Enhance slip resistance, increase safety for your employees and customers</li>
  <li>Utilize the most current innovations in floor care</li>
  <li>Protect your floor investment and avoid early replacement</li>
</ul>