<div class="container">
  <h1 class="text-center">Our Difference</h1>
  <div class="row">
    <div class="col-12 col-md-8 col-lg-8 col-xl-9">

      <h3>WE HAVE KNOWLEDGE OF THE DANGERS OF CLEANING PRODUCTS</h3>
      <p>ISA cares about the well-being of others. Our main mission is to provide healthy commercial cleaning services for your facility and our world. It's more than a broom and a mop for us, ISA strives to keep our employees, your facility healthy. We feel that a cleaning company requires knowledge
        of cleaning chemicals being used, when they should be used and the precautions to take when working with chemical based cleaning products.
      </p>

      <h3>EXPERIENCE</h3>
      <p>By hiring ISA you are ensuring that your facility will be cleaning in a professional manner. For over 20 years
      we've provided affordable commercial cleaning services all over the Great Toronto Area in areas such as Stouffville, Markham and Toronto.</p>

      <h3>PERFORMANCE ASSURANCE PROGRAM</h3>
      <p>Our program helps to guarantee you performance cleaning services all the time. We tailor each program to your
        facilities requirements so we can meet your needs. Client satisfaction
        is our
        top priority and our program is designed to accomplish that. Our Performance Assurance Program is broken up into four
        stages.</p>
      
      <h3>DAILY TASK LIST</h3>
      <p>ISA provides its employees with a daily task list that details their regular duties. This ensures that our clients receive
      the level of service that they expect.</p>
      
      <h3>TIME LOG</h3>
      <p>Our employees clock in and out from your site via the telephone. This means that we can assure our clients that our
      employees are on site when scheduled.</p>

     
      <h3>TRAINING</h3>
      <p>All our employees are WHMIS, safety, and task trained. Our training is specific to your location, to ensure that
      your expectations are met. Additional training is provided when new procedures and equipment are available.</p>

      <h3>INSPECTIONS</h3>
      <p>An inspection checklist is developed with your company and your requirements in mind. Supervisors visit your site to
      complete the checklist with our employees. A copy of the inspection is available for you to review.</p>

      <h3>OPTIONS</h3>
      <p>We offer <a routerLink="/services/green-cleaning-services">"GREEN CLEAN" </a> options where our staff will only use certfied green products within your facilitiy.</p>

      <h3>FLEXIBLE SCHEDULES</h3>
      <p>Our clients are always 100% satisfied as ISA is committed to working with your needs, time, and budget in
        order to provide you with high-quality commercial cleaning services and fantastic results.</p>

      <h3>HEALTHY AND SAFETY</h3>
      <p>ISA has a very active health and safety department. We have learned that an investment in safety pays dividends in
      reducing lost time.</p>


      <h3>WE ARE FULLY INSURED</h3>
      <p>ISA is fully insured and bonded commercial cleaning company. When you hire us you are hiring peace of mind. Our
        insurance ensures that you are covered for any damages that may occur. </p>
    </div>
    <div class="col-12 col-md-4 col-lg-4 col-xl-3">
          <img src="./assets/isa-van-front.png" class="img-fluid" alt="">
          <img src="./assets/performance-assurance-2.svg" class="py-5 img-fluid" alt="An image displaying describing what our Performance Assurance Program consist of such as a time logging, daily task list, inpsections and training our staff. ">
          <img src="./assets/fully-insured.gif" class="img-fluid py-5" alt="">

      <app-contact-form></app-contact-form>
    </div>
  </div>