<div class="container">
  <h1 class="text-center">Our Difference</h1>
  <div class="row">
    <div class="col-12 col-md-9">

      <h3>WE AREN'T JUST CLEANING SPECIALIST BUT ALSO HEALTH EDUCATORS</h3>
      <p></p>

      <h3>WE ARE FULLY INSURED</h3>
      <p>ISA is a fully insured and bonded cleaning company. We pride ourselves on quality service, professional
        staff
        and affordable pricing around the Great Toronto Area. For years we've provided cleaning services in areas
        such as
        Markham, Richmond Hill and Toronto.</p>

      <h3>PROFESSIONAL ASSURANCE PROGRAM</h3>
      <p>Our professional assurance programWe guarantee to communicate with you on a regular basis. Client satisfaction
        is
        our top priority. If for any
        reason you are
        unsatisfied with our work, we promise to fix and deal with any issues within 48 hours at no extra charge.</p>
      
      <p>Our professional assurance program helps to guarantee you excellent quality and service. Client satisfaction
        is our
        top priority. Our Professional Assurance Program is broken up into 4 steps.</p>
      
      <ul>
        <li>Inspection</li>
        <li>Communication</li>
        <li>Report</li>
        <li>Review</li>
      </ul>
      
      <p>In our company, we believe that our employees are our greatest assets. We take pride in providing them with
        quality training,
        and ongoing opportunities to learn new skills and grow with us professionally.</p>
      
      <h3>CLIENT SATISFACTION</h3>
      <p>Our clients are always 100% satisfied as ISA is committed to working with your needs, time, and budget in
        order
        to provide you with high-quality cleaning services and fantastic results.</p>

        <h3>OUR SERVICES ARE AVAILABLE 24 HOURS A DAY</h3>
        <p>ISA's main vision is to meet the growing demand of maintenance and cleaning industry with our latest art of
          technology
          in order to satisfy our customer requirements.<br /><br />Our vision is to aim to be a company that is closest
          to the
          customer, earning the respect and trust of all and contributing cleaner and healthier to a sustainable
          development of
          the nation and the society.</p>
    </div>
  </div>