<div class="container">
  <h1 class="text-center">Our Difference</h1>
  <div class="row">
    <div class="col-12 col-md-9">

      <h3>WE HAVE KNOWLEDGE OF THE DANGERS OF CLEANING PRODUCTS</h3>
      <p>ISA cares about the well-being of others. Our main mission is to provide healthy commercial cleaning services for your facility and our world. It's more than a broom and a mop for us, ISA strives to keep our employees, your facility healthy. We feel that a cleaning company requires knowledge
        of cleaning chemicals being used, when they should be used and the precautions to take when working with chemical based cleaning products.
      </p>

      <h3>IT'S A GREEN AGE</h3>
      <p>We live in a green clean era where we have access to so many alternative products that are much safer for our environment. We've aquired knowledge and experience on how to keep your facilitiy clean and healthy so you don't endanger the lives of your staff and your visitors. We've provided healthy cleaning services to schools, government buildings and many other industries throughout the Great Toronto Area. 
      </p>


      <h3>PERFORMANCE ASSURANCE PROGRAM</h3>
      <p>Our program helps to guarantee you performance cleaning services all the time. We tailor each program to your facilities requirements so we can meet your needs. Client satisfaction
        is our
        top priority and our program is designed to accomplish that. Our Performance Assurance Program is broken up into four stages.</p>
      


      <h3>FLEXIBLE SCHEDULES</h3>
      <p>Our clients are always 100% satisfied as ISA is committed to working with your needs, time, and budget in
        order to provide you with high-quality commercial cleaning services and fantastic results.</p>

      <h3>WE ARE FULLY INSURED</h3>
      <p>ISA is fully insured and bonded commercial cleaning company. When you hire us you are hiring peace of mind. Our
        insurance ensures that you are covered for any damages that may occur. </p>
    </div>
    <div class="col-12 col-md-3">
          <img src="./assets/performance-assurance.svg" class="img-fluid" alt="">

      <app-contact-form></app-contact-form>
    </div>
  </div>