#contact-form {
    padding: 1em;
    margin:0;
    form {
        .form-group {
            margin: .8em 0;
        }
        
        .form-group input  {
            width: 100%;
            padding: .4em .8em;
            border-top: none;
            border-left: none;
            border-right: none;
            font-size:1em;        
            box-sizing: border-box;

        }

        .form-group textarea  {
            width: 100%;
            padding: .4em .8em;
            height: 190px;
            box-sizing: border-box; 

        }  
    }
    
}