<div class="full-width">
  <div class="container">
    <h2 class="text-center">GENERAL CLEANING</h2>
    <p class="text-center">We have cleaned and cleared hundreds of premises, and left a good opinion of ourselves from multiple clients</p>
    <div id="our-features" class="">
      <div class="column-1">
        <div class="content-container">
              <span class="char-checkmark">✔</span>
              <div class="content-body">
                <h2>MAIN LOBBIES & RECEPTION AREAS</h2>
                <p>First impressions are everything. We make sure that your reception areas and lobbies greet your visitors with warmth,
                  sparkle and shine.</p>
              </div>
        </div>
        <div class="content-container">
              <span class="char-checkmark">✔</span>
              <div class="content-body">
                <h2>BOARDROOMS & CONFERENCE AREAS</h2>
                <p>We’ll take care of all the details for your boardrooms, conference rooms, and for educational facilities – classrooms
                  & staff rooms
                </p>
              </div>
        </div>
        <div class="content-container">
              <span class="char-checkmark">✔</span>
              <div class="content-body">
                <h2>STAIRS & LANDING AREAS</h2>
                <p>We clean all of your business areas – visible and not so visible. Stairs are hoovered, mopped & polished to a flawless
                  finish.</p>
              </div>
        </div>
      </div>
      <!-- End of Content Container-->
      <div class="column-2">
        <div class="content-container text-center">
          <div class="img-container">
            <img class="text-center" src="./assets/cleaning-woman.gif" alt="A happy cleaning woman with her arms opened">
          </div>
        </div>
      </div>
      <!-- End of Content Container-->
      <div class="column-3">
        <div  class="content-container">
              <span class="char-checkmark">✔</span>
                <div class="content-body">
                  <h2>OFFICE & CUBICLE AREAS</h2>
                  <p>We understand that your work environment needs to be clean and healthy – this is where you and your colleagues thrive
                    during the day.</p>
                </div>
        </div>
        <div class="content-container">
              <span class="char-checkmark">✔</span>
              <div class="content-body">
                <h2>MEN'S & WOMEN'S WASHROOMS</h2>
                <p>Our professional cleaning teams specialize in the immaculate and hygienic disinfection of every inch of your office’s
                  washrooms.</p>
              </div>
        </div>
        <div class="content-container">
              <span class="char-checkmark">✔</span>
              <div class="content-body">
                <h2>LUNCH ROOMS & KITCHENS</h2>
                <p>Our cleaners pay special attention to where your team re-fuels. Microwaves, fridges, sinks & dishwashers are left immaculate.</p>
              </div>
            </div>
      </div>
      <!-- End of Content Container-->
    </div>
  </div>
</div>