<div class="full-width">
  <div class="container">
    <h2 class="text-center">Customer Care</h2>
    <div id="commercial-cleaning" class="text-left">
      <div class="content-container">
        <div class="img-container">
          <img src="#" alt="Image">
        </div>
        <!-- End of Image Container -->
        <div class="content">
          <h3>COMPLEX CLEANING</h3>
          <p>For those who value their time, and does not want to choose between cleaning the house.</p>
          <ul>
            <li>
              <a target="_self" href="#">Eliminate odor.</a>
              <br>
            </li>
            <li>
              <a target="_self" href="#">Cleaning after fire.</a>
              <br>
            </li>
            <li>
              <a target="_self" href="#">Industrial alpinism.</a>
              <br>
            </li>
            <li>
              <a target="_self" href="#">Commercial cleaning.</a>
              <br>
            </li>
            <li>
              <a target="_self" href="#">Complex cleaning</a>
              <br>
            </li>
          </ul>
        </div>
        <!-- End of Content -->
      </div>
      <!-- End of Content Cointainer -->

      <div class="content-container">
        <div class="img-container">
          <img src="#" alt="Image">
        </div>
        <!-- End of Image Container -->
        <div class="content">
          <h3>OFFICE CLEANING</h3>
          <p>Daily high quality cleaning of modern office enables you to maintain your status and reputation of the company
            </p>
          <ul>
            <li>
              <a target="_self" href="#">Housemaid.</a>
              <br>
            </li>
            <li>
              <a target="_self" href="#">Cleaning pools.</a>
              <br>
            </li>
            <li>
              <a target="_self" href="#">Cleaning up of territory.</a>
              <br>
            </li>
            <li>
              <a target="_self" href="#">Maids at home.</a>
              <br>
            </li>
            <li>
              <a target="_self" href="#">Greening.</a>
              <br>
            </li>
          </ul>
        </div>
        <!-- End of Content -->
      </div>
      <!-- End of Content Cointainer -->

    </div>
  </div>
</div>


<app-our-products></app-our-products>
<app-what-we-offer></app-what-we-offer>
<app-high-quality></app-high-quality>