
.full-width {
    background-color: #eee;
    color: #000;
    padding: 10em .2em;
}

#customer-care ul a {
    color: #fff;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #customer-care {
        display: flex;
        flex-direction: column;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #customer-care {
        display: flex;
        flex-direction: row;
    }

    #customer-care .content-container {
        display: flex;
            width: 50%;
        flex-direction: row;
    }

    #customer-care .content-container .img-container  {
        margin: 0 1.2em;
    }

    #customer-care .content-container .img-container img {
        width: 100%;
    }

    #customer-care .content-container .content {
        width: 80%;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
