
<div class="full-width" id="call-to-action">
  <div class="container">
    <div class="column-1">
      <div class="content-container">
        <p style="font-size: 1.4em;"><b>SEVERAL PROGRAMS TO FIT YOUR BUDGET!</b></p>
        <p>Get Your <u>Personalized Cleaning Quote!</u></p>
        <button class="btn-3"><a href="tel:{{companyProfile.phone}}" style="visibility: visible;">CALL {{companyProfile.phone}} </a></button>
      </div>
    </div>

    <div class="column-2">
      <div class="img-container text-center">
        <img src="./assets/cleaner.gif" alt="cleaning-woman">
      </div>
    </div>
  </div>
</div>