@import "src/scss/_mixins";

#service-list {
    ul {
        list-style-type: none;
    }
    ul li {
        padding: 5px;
    }

    ul li:before {
        content: '✔'; 
        font-size: 1.2em;
        color: red;
        padding-right: 5px;
    }
    @include breakpoint('md') {
        ul {
            columns: 2;
        }
    }
}