<div class="full-width">
  <div class="container">
    <h2 class="text-center">A Few Words About Us</h2>
    <div id="about-us-introduction" class="text-center">
      <div class="content">
        <h3>OUR SERVICES ARE AVAILABLE 24 HOURS A DAY</h3>
        <p>You urgently require the services of a cleaning company, and you want to clean at night? Then our offer is specially
          for you, as our cleaning services are available 24 hours a day! To conduct high-quality cleaning or dry cleaning
          alone is practically impossible, because an inexperienced person can significantly damage any surface using a non-professional
          methods and tools.</p>

        <p>In addition, for high-quality cleaning any room requires not only skilled, but also a special technique that will
          cope with any pollution and hard-removing spots. That is why we seek the professional services of a cleaning company</p>
      </div>
      <!-- End of Content -->
      <div class="content">
        <h3>THE COMPANY'S SUCCESS IS BASED ON A HIGH QUALITY LEVEL</h3>
        <p>The main activity of the company is the general cleaning of the real estate, the daily service. Modern client requires
          impeccable service in everything: service, as works. Planck customer requirements become greater with each passing
          day.</p>

        <p>The company was established in order to make cleaning easier and relieve you and your time for more important things.
          This is the task of our company. Since its foundation to the present day we have sample reliable, dynamically developing
          company. Employees of the company are professionals, who regularly improve their qualification.</p>
      </div>
      <!-- End of Content -->
    </div>
  </div>
</div>