<div class="full-width">
  <div class="container">
    <h2 class="text-center">What We Do</h2>
    <div id="what-we-do" class="text-center">
      <div class="content-container">
        <div class="content text-left">
          <div>
            <p>Icon</p>
          </div>
          <div>
            <h5>CLEANLINESS AND ORDER</h5>
            <p>Our staff will make every effort to satisfy your highest requirements and wishes in the shortest possible time</p>
          </div>
        </div>
        <!-- End of Content -->
        <div class="content text-left">
          <div>
            <p>Icon</p>
          </div>
          <div>
            <h5>SAFE MATERIALS</h5>
            <p>Cleaning company works with biological means with no chemical additives.</p>
          </div>
        </div>
        <!-- End of Content -->
        <div class="content text-left">
          <div>
            <p>Icon</p>
          </div>
          <div>
            <h5>COMFORT AND CONVENIENCE</h5>
            <p>We will then proceed cleaning at a time that suits you with the maximum benefit and efficiency</p>
          </div>
        </div>
        <!-- End of Content -->
      </div>
      <div class="content-container">
        <div class="content text-left">
          <div>
            <p>Icon</p>
          </div>
          <div>
            <h5>INDIVIDUAL APPROACH</h5>
            <p>We provide each customer a personal manager who according to your desires.</p>
          </div>
        </div>
        <!-- End of Content -->
        <div class="content text-left">
          <div>
            <p>Icon</p>
          </div>
          <div>
            <h5>RESPONSIBLE APPROACH</h5>
            <p>High quality cleaning work is the main objective for us. A high level of organization.</p>
          </div>
        </div>
        <!-- End of Content -->
        <div class="content text-left">
          <div>
            <p>Icon</p>
          </div>
          <div>
            <h5>ACTIVE FEEDBACK</h5>
            <p>The most important thing for us is the confidence of our clients. Therefore, we are actively working on feedback
              with you.
            </p>
          </div>
        </div>
        <!-- End of Content -->
      </div>
    </div>
  </div>