@import "src/scss/_mixins.scss";
@import "src/scss/_variables.scss";

#logo {
    width: 70%;
}

nav {
    @include breakpoint(xl) {
        height: 100%;
        max-height: 150px;

        .nav-item {
            width: 20%;
            text-align: center;
        }
        .navbar-nav {
            width: 100%;
        }
    }
    
}



.active > a {
    color: $primary-color;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: $secondary-color;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: $secondary-color;
}