<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div id="logo">
        <a routerLink="/">
          <img style="width: 185px"class="img-fluid" src="./assets/logo.svg" alt="Triple C Automotive Logo" title="Triple C Complete Car Care Logo">
        </a>
      </div>
  <button class="navbar-toggler my-3" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li *ngFor="let item of content.primaryMenu" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>
        <a class="nav-link" routerLink="{{item.route}}">{{item.name}}<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  </div>
</nav>