
#fixed-free-quote-form {
  position: fixed;
  bottom: 0;
  transition: right 500ms;
  right: -255px;
  width: 255px;
  box-shadow: -5px -5px 10px #333;
}
#fixed-free-quote-form h3 {
  color: #fff;
}


.fixed-free-quote-form-toggler {
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 0;
  transition: right 500ms;
  padding: 0 10px;
  max-width: 170px;
  text-align: center;
  color: #fff;
  z-index: 100;
  
}

/*** Form Styles ***/
#fixed-free-quote-form form {
  padding: 1em;
}
#fixed-free-quote-form form .form-group {
    padding: .2em 0;
    margin: .2em 0;
}
#fixed-free-quote-form form .form-group input  {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 8px 0 8px 8px;
    font-size:1em;
}
#fixed-free-quote-form form .form-group textarea  {
    font-size:1.1em;
    padding: 8px 0 8px 8px;
    height: 60px;;
}
.slide-in-fixed-free-quote-container {
  right: 0!important;
  transition: right 500ms;
}
.slide-in-fixed-free-quote-form-toggler {
   transition: right 500ms;
   right: 254px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .fixed-free-quote-form-toggler {
        max-width: 90px;
    }

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    .fixed-free-quote-form-toggler {
        max-width: 170px;
    }

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .fixed-free-quote-form-toggler {
         max-width: 250px;
    }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

