<div class="full-width">
  <div class="container">
    <h2 class="text-center">Why Choose Us</h2>
    <p class="text-center">We are confident that our prices for cleaning services and cleaning quality will be acceptable for you.</p>

    <div id="why-choose-us" class="text-center">
      <div class="content-container">
        <div class="content text-left">
                <div class="content-header">
                  <p>Icon</p>
                  <h5>CONVENIENCE</h5>
                </div>
                <!-- End of Content Header -->
                <div class="content-body">
                  <p>We are confident that our prices for cleaning services and cleaning quality will be acceptable for you.</p>
                </div>
                <!-- End of Content Body -->
            </div>
            <!-- End of Content -->
            <div class="content text-left">
                <div class="content-header">
                  <p>Icon</p>
                  <h5>COMPETENT & FRIENDLY STAFF</h5>
                </div>
                <!-- End of Content Header -->
                <div class="content-body">
                  <p>We work exclusively with professionals. Our employees are always competent, polite and neat.</p>
                </div>
                <!-- End of Content Body -->
            </div>
            <!-- End of Content -->
            <div class="content text-left">
                <div class="content-header">
                  <p>Icon</p>
                  <h5>CLEANLINESS AND ORDER</h5>
                </div>
                <!-- End of Content Header -->
                <div class="content-body">
                  <p>Our staff will make every effort to satisfy your highest requirements and wishes in the shortest possible time.</p>
                </div>
                <!-- End of Content Body -->
            </div>
            <!-- End of Content -->
      </div>
      <!-- End of Content Container -->

      <div class="content-container">
        <div class="content text-left">
                <div class="content-header">
                  <p>Icon</p>
                  <h5>SAFE MATERIALS</h5>
                </div>
                <!-- End of Content Header -->
                <div class="content-body">
                  <p>Cleaning company works with biological means with no chemical additives.</p>
                </div>
                <!-- End of Content Body -->
            </div>
            <!-- End of Content -->
            <div class="content text-left">
                <div class="content-header">
                  <p>Icon</p>
                  <h5>COMFORT & CONVENIENCE</h5>
                </div>
                <!-- End of Content Header -->
                <div class="content-body">
                  <p>We will then proceed cleaning at a time that suits you with the maximum benefit and efficiency</p>
                </div>
                <!-- End of Content Body -->
            </div>
            <!-- End of Content -->
            <div class="content text-left">
                <div class="content-header">
                  <p>Icon</p>
                  <h5>ACTIVE FEEDBACK</h5>
                </div>
                <!-- End of Content Header -->
                <div class="content-body">
                  <p>The most important thing for us is the confidence of our clients. Therefore, we are actively working on feedback with you.</p>
                </div>
                <!-- End of Content Body -->
            </div>
            <!-- End of Content -->
      </div>
      <!-- End of Content Container -->

</div>