<div class="full-width">
  <div class="container">
    <h2 class="text-center">We Offer High Quality Cleaning Services</h2>
    <div id="high-quality" class="text-left">
      <div class="content-container">
        <div class="content">
          <h3>THE COMPANY'S SUCCESS IS BASED ON A HIGH QUALITY LEVEL OF THE PROVIDED SERVICES</h3>
          <p>The main activity of the company is the general cleaning of the real estate, the daily service. Modern client requires impeccable
          service in everything: service, as works. Planck customer requirements become greater with each passing day. The company
          was established in order to make cleaning easier and relieve you and your time for more important things. This is the task
          of our company. Since its foundation to the present day we have sample reliable, dynamically developing company.</p>

          <p>Employees of the company are professionals, who regularly improve their qualification. In our work we use only high-quality
          materials and equipment manufacturers such as Karcher, Buzil, Prochem. Cleaning company works with biological means with
          no chemical additives.</p>
        </div>
        <!-- End of Content -->
      </div>
      <!-- End of Content Cointainer -->

      <div class="img-container">
        <img src="https://picsum.photos/600/600" alt="Image">
      </div>
      <!-- End of Image Container -->
    </div>
  </div>
</div>