@import "src/scss/_mixins.scss";


#green-cleaning {

    img {
        width: 100%;
    }
    .img-container {
        width: 100%;
    }
    @include breakpoint(md) {

    }

}

.img-container img {
    position: absolute; 
    width: 20%;
    right:0;
    z-index: -100 ;
}