<div id="green-cleaning" class="text-left">
    <div class="content">
      <h2 class="text-left green-text">Green Cleaning Is Healthy Cleaning</h2>
      <p> A green workplace has been found to be safer for employees and visitors alike. Also, in many instances,
        green cleaning processes
        are better for your facility.</p>
      <p> For instance, regular cleaning agents tend to be caustic, wearing out surfaces over time and diminishing
        the longevity of your facility and your furnishings. Additionally, some cleaners can agitate those with
        sensitivities to chemicals. That’s
        why ISA's Green program focuses on reducing particulates, harmful emissions, and exposure to caustic agents
        with:</p>
      </div>
      <!-- End of Content -->

  </div>
<div class="img-container">
  <img src="./assets/green-cleaning-services.gif" alt="">
</div>