<div id="green-cleaning">
    <div class="content">
      <h2>GREEN CLEANING IS HEALTHY CLEANING</h2>
      <p> A green workplace has been found to be safer for employees and visitors alike. Also, in many instances,
        green cleaning processes
        are better for your facility.</p>
      <p> For instance, regular cleaning agents tend to be caustic, wearing out surfaces over time and diminishing
        the longevity of your facility and your furnishings. Additionally, some cleaners can agitate those with
        sensitivities to chemicals. That’s
        why ISA's Green program focuses on reducing particulates, harmful emissions, and exposure to caustic agents
        with:</p>

        <h2>ENVIRONMENTALLY SAFE CLEANING SOLUTIONS</h2>
        <p>We use only environmentally friendly products that promote reusability, eco-friendly packaging and natural materials, most of which have earned the independent Green Seal of approval.</p>

        <h2>MICROFIBER SYSTEMS</h2>
        <p>Our microfiber mops and clothes allow us to remove more than 99 percent of dirt, dust and germs using fewer products.</p>

        <h2>MULTI-FILTERATION (HEPA/ULPA)</h2>
        <p>All our vacuums receive approval through the Carpet & Rug Institute’s Green Label program, leaving three times fewer particles in the air in comparison to other cleaning services.</p>

        <h2>MULTI-FILTERATION (HEPA/ULPA)</h2>
        <p>All our vacuums receive approval through the Carpet & Rug Institute’s Green Label program, leaving three times
          fewer
          particles in the air in comparison to other cleaning services.</p>

        <h2>SPECIALIZED CHEMICAL DISPENSING SYSTEMS</h2>
        <p>in order to reduce the impact of our non-toxic products, we train our cleaning staff in the proper use of our green cleaning solution, making sure they use the exact right amount.</p>
      </div>
      <!-- End of Content -->

  </div>