<div class="full-width">
  <div class="container">
    <h2 class="text-center">Our Cleaning Guarantee</h2>
    <div id="cleaning-guarantee" class="text-left">
      <div class="content-container">
        <div class="content">
          <h3>THE COMPANY'S SUCCESS IS BASED ON A HIGH QUALITY LEVEL OF THE PROVIDED SERVICES</h3>
          <p>ISA CLEAN is a fully insured and bonded cleaning company. We pride ourselves on quality service, professional staff
          and affordable pricing around the Great Toronto Area. For years we've provided cleaning services in areas such as Markham, Richmond Hill and Toronto.</p>

          <p>We guarantee to communicate with you on a regular basis. Client satisfaction is our top priority. If for any reason you are
          unsatisfied with our work, we promise to fix and deal with any issues within 24 hours at no extra charge.</p>

          <p>In our company, we believe that our employees are our greatest assets. We take pride in providing them with quality training,
          and ongoing opportunities to learn new skills and grow with us professionally.</p>

          <p>Our clients are always 100% satisfied as ISA CLEAN is committed to working with your needs, time, and budget in order
          to provide you with high-quality cleaning services and fantastic results.</p>

          <p>We provide free cleaning quotes.</p> 

          <button class="btn-1">GET A FREE CLEANING QUOTE NOW</button>
        </div>
        <!-- End of Content -->
      </div>
      <!-- End of Content Cointainer -->

      <div class="img-container">
        <img src="./assets/logo.svg" alt="Image">
      </div>
      <!-- End of Image Container -->
    </div>
  </div>
</div>