@import "src/scss/_mixins";

#cleaning-guarantee {
    display: flex;
    flex-direction: column;
    .img-container img {
         width: 100%;
    }

    @include breakpoint(md) {
        flex-direction: row;

        .content-container {
            flex-basis: 50%;
        }

    }
}
