<h2>FIRST IMPRESSIONS ARE IMPORTANT</h2>
<p>Count on ISA to help you give the best first impressions to your vistitors and your staff. A very cleaned environment shows professionalism and class to anybody in your facilitiy.</p>
<p>Our highly trained cleaning professionals are dedicated to go above your expectations. We are devoted to cleaning your facility exactly the way you want it. ISA uses the latest methods, equipment and technology to do the job.</p>

<h2>YOUR HEALTH IS IMPORTANT TO US</h2> 
<div class="row">
    <div class="col-12 col-md-9">
        <p>The ISA Green Cleaning system and Chemical Free system combines advanced equipment and microfiber technologies to
            dramatically decrease airborne dust, VOCs and bacteria, resulting in a healthier setting for both staff and guest.</p>
        <p>Using innovative cleaning technologies such sa high-efficiency particulate air filter vaccumms which filters out
            99.7% of small particles, our Green Cleaning and Chemical Free system helps promote a cleaner, healthier workplace
            which is very important to us for your staff and our own staff.</p>
    </div>

    <div class="col-12 col-md-3">
        <div class="img-container">
            <img src="#" alt="health image">
        </div>
    </div>
</div>

<h2>PERFORMANCE ASSURANCE PROGRAM</h2>
<div class="row">
    <div class="col-12 col-md-3">
        <img src="#" alt="Performance Assurance Program">
    </div>
    <div class="col-12 col-md-9">
        <p>The ISA Performance Assurance Program is designed to establish continuous method of evaulating and monitoring
            janitorial services. The program is tailored to suit various types of facilities.</p>
    
        <p>ISA can assure you that your premises will benefit from that high level of quality control available at all
            times by
            combining highly trained staff with state-of-the-art software driven technologies that allow stakeholders to
            communicate any concerns.</p>
    </div>
</div>

<h2>COMMUNICATION</h2>
<p>One of our most important tools isn't a mop or broom, it's communication. Communication is important to us, it guarantees should a problem arise, we are quick to address it.</p>

<p>Constant communication with you ensures that we are delievering the quality cleaning service you deserve and are paying for.</p>

<h2>STRESS FREE</h2>
<p>We are results driven, aiming to consistently do the job right and striving to make your job stress-free. If by any chance we don't meet your expectations the first time, we'll work to correct it immediately.</p>

<h2>OVER TWO DECADES OF EXPERIENCE</h2>


<p>For over 20 years ISA has been providing professional janitorial services to commercial facilities.
ISA strives to provide a healthy cleaning environment for your facilitiy and our environment. We have developed systems and processes to ensure the highest degree of
quality control and communication. Dozens of organizations rely on ISA to keep their facilities healthy and clean everyday.</p>