@import "src/scss/_mixins";

#cleaning-guarantee {
    display: flex;
    flex-direction: column;
    .img-container {
        width: 100%;
    }
    .img-container img {
         width: 100%;
    }
}
