<div id="promotion" class="" *ngIf="currentRoute == '/'">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <img class="img-fluid" src="./assets/isa-van-right.gif" alt="">
      </div>
      <div class="col-12 col-md-6">
        <h2>10% OFF OUR FLOOR REJUVENATION SERVICE</h2>
        <p>Get a free quote to rejuvenate those dirty old looking floors so you can make a great first impression!</p>
        <button class="btn-3">FREE QUOTE</button>
      </div>
    </div>
  </div>
</div>