@import "src/scss/_mixins.scss";

#bottom .container {
    padding: 50px 0;
    img {
        width: 100%;
    }

    @include breakpoint(md) {
        display: flex;
        flex-direction: row;

        .content-container {
            flex-basis: 50%;
        }

    }
}