<div class="d-flex" style="height: 100vh;">
  <div class="container text-center align-items-md-center align-self-md-center">
    <div class="row py-5">
      <div class="col-12 col-md-6">
        <img class="img-fluid pb-3" src="./assets/isa-van-right.gif" alt="">
      </div>
      <div class="col-12 col-md-6">
        <h2>10% OFF OUR FLOOR REJUVENATION SERVICE</h2>
        <p>Get a free quote to rejuvenate those dirty old looking floors so you can make a great first impression!</p>
      </div>
    </div>
          <a class="btn-3" href="/contact">FREE QUOTE</a>

  </div>
</div>