<div class="container">
    <div class="row">

        <div class="col-12 col-md-7 mt-5">
            <h2>WE MAKE IT EASY FOR YOU TO PAY YOUR BILL</h2>
            <p class="py-2">Convenience it's what we're all about! Make a payment to us using paypal. We accept all major credit cards including debit cards. Just click the <b>Pay Now</b> and enter the due amount.
</p>
        </div>

        <div class="col-12 col-md-5 mt-5">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="mt-4">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="NU3A79TPSKSUA">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit"
                alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

        </div>

    </div>
</div>