<header id="main-header">
   <div class="container">
      <div id="logo-container">
          <a routerLink=""><img id="logo" src="./assets/logo.svg" alt=""></a>
      </div>
      
      <nav id="main-navigation">
        <app-primary-menu></app-primary-menu>
      </nav>
    </div>
</header>



<header id="mobile-header">
        <app-mobile-menu></app-mobile-menu>
</header>

<main>
<router-outlet>
</router-outlet>
</main>

<footer class="text-center">
  <div id="call-to-action">
    <div class="container">
      <div class="triangle"></div>
      <span> Call (204) 594-4666 Today And Get Your
        <u>Free</u> Personalized Cleaning Quote! </span>
      <a class="nectar-button regular-button  accent-color" data-color-override="false" href="tel:(204) 594-4666" style="visibility: visible;">CALL NOW </a>
    </div>
  </div>
  <div>
    <small>ISA CLEAN Copyright &copy; {{year}}</small>
  </div>
</footer>
<!--The content below is only a placeholder and can be replaced.-->
