<header>
   <div class="container">
      <div style="text-align:center">
        <h1>
          <a href=""><img id="logo" src="./assets/logo.svg" alt=""></a>
        </h1>
      </div>
      
      <nav>
        <ul>
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/services">Services</a></li>
          <li><a routerLink="/service-areas">Service Areas</a></li>
          <li><a routerLink="/testimonials">Testimonials</a></li>
          <li><a routerLink="/free-quote">Free Quote</a></li>
        </ul>
      </nav>
    </div>
</header>

<main>
<router-outlet>
</router-outlet>
</main>
<footer class="text-center">
  <small>ISA CLEAN Copyright &copy; {{year}}</small>
</footer>
<!--The content below is only a placeholder and can be replaced.-->
