#main-header{
    position: fixed;
    background: #fff;
    width: 100%;
        box-shadow: 5px 5px 10px #888;
}

/**** Header ****/
header .container {
      display: flex;
}

header #logo-container a  {
    display: flex;
    flex-basis: 20%;
    align-content: center;
    justify-content: center;
 
}

header #logo-container img {
    width: 100%;
    max-width: 60%;
}


header #main-navigation {
    flex-basis: 80%;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    #mobile-header {
        position: fixed;
        background: #fff;
        height: 90px;
        width: 100%;
    }

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {






} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/**** Grid System ****/

