<header id="main-header">
          <app-primary-menu></app-primary-menu>
</header>
<!--<app-fixed-free-quote-form></app-fixed-free-quote-form>-->
<main class="mb-5">
<router-outlet>
</router-outlet>
</main>


<footer class="primary-background mt-5 py-3">
  <div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
          <h2 class="pb-4">WE STRIVE TO PROVIDE YOU WITH A HEALTHY CLEAN ENVIRONMENT</h2>
           <ul class="nav flex-column">
              <li class="nav-item active">
                <a class="nav-link" routerLink="">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" >Services</a>
                <ul class="nav flex-column pl-2">
                  <li><a class="nav-link" routerLink="services/janitorial-services">Janitorial Services</a>
                  <li><a class="nav-link" routerLink="services/floor-maintenance">Floor Maintenance</a>
                  <li><a class="nav-link" routerLink="services/green-cleaning-services">Green Cleaning</a>
</li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/our-difference">Our Difference</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/our-clients">Our Clients</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact</a>
              </li>
           </ul>
        </div>
        <div class="col-12 col-md-4">
            <img class="img-fluid pt-5" src="./assets/isa-van-right.gif" alt="An side view of our white company van">
        </div>
    </div>
    <div class="text-center pt-5">
      <small>ISA Copyright &copy; {{year}}</small>
    </div>
  </div>

</footer>

<!--The content below is only a placeholder and can be replaced.-->
