.container {
    width: 1260px;
    margin: auto;
}

/**** Header ****/
header .container {
      display: flex;
      flex-direction: row;
}

#logo-container img {
    width: 100%;
}


#main-navigation ul {
    list-style-type: none;
}

#main-navigation ul li {
    display: inline-block;
    margin: 2px 5px;
}


/**** Grid System ****/

