<div class="full-width  primary-background-gradient">
  <div class="container">
    <h2 class="text-center">Our Core Values</h2>
    <p class="text-center mb-1">ISA CLEAN is committed to providing the highest quality commercial cleaning service available by exceeding
    the expectations of our clients, as well as their employees, patients, students, and other visitors to their premises or
    facilities.</p>

    <div id="our-core-values" class="text-center">
      <div class="content">
        <h3>SAFETY AND SUSTAINABILITY</h3>
        <p>Safeguarding the health and wellbeing of our clients, our staff, and the environments</p>
      </div>
      <!-- End of Content -->
      <div class="content">
        <h3>KNOWLEDGE</h3>
        <p>Fostering a culture that encourages learning and personal development. Being experts in our field</p>
      </div>
      <!-- End of Content -->
      <div class="content">
        <h3>COMMITMENT</h3>
        <p>Calling on passion and persistence to deliver excellence in operations</p>
      </div>
      <!-- End of Content -->
    </div>
  </div>
</div>