<div class="full-width">
  <div class="container">
    <h2 class="text-center">Our Core Values</h2>
    <p class="text-center">High quality cleaning work is the main objective for us. A high level of organization and an excellent qualification
      of our employees are the means to achieve it.</p>

    <div id="our-core-values" class="text-center">
      <div class="content">
        <h3>OPTIMAL OF PRICE AND QUALITY</h3>
        <p>We are confident that our prices for cleaning services and cleaning quality will be acceptable for you.</p>
      </div>
      <!-- End of Content -->
      <div class="content">
        <h3>COMPETENT AND FRIENDLY STAFF</h3>
        <p>We work exclusively with professionals. Our employees are always competent, polite and neat.</p>
      </div>
      <!-- End of Content -->
      <div class="content">
        <h3> ORDER IN THE SHORTEST POSSIBLE TIME</h3>
        <p>Our staff will make every effort to satisfy your highest requirements and wishes in the shortest possible time.</p>
      </div>
      <!-- End of Content -->
    </div>
  </div>
</div>