<app-slider></app-slider>

<div class="full-width  primary-background">
  <div class="container">
    <h2 class="text-center">{{content.mainHeading}}</h2>
    <p class="text-center mb-1">{{content.text}}</p>
  </div>
</div>

<div class="full-width">
  <div class="container" >
    <div id="service-areas" class="text-center">
      <div class="content"  *ngFor="let item of content.locations; index as i">
          <h2 class="text-center">{{item.heading}}</h2>
          <img src="{{assetsPath + item.img.url}}" alt="{{item.img.altText}}" class="text-center">
          <p>{{item.text}}</p>
      </div>
    </div>
  </div>
</div>