<div class="full-width">
  <div class="container">
    <h2 class="text-center">Our Vision</h2>
    <p class="text-center">Modern client requires impeccable service in everything: service, as works. Planck customer requirements become greater with
    each passing day.</p>

    <div id="why-choose-us" class="text-center">
      <div class="content-container">
        <div class="content text-left">
          <div>
            <h5>CONVENIENCE</h5>
            <p>We are confident that our prices for cleaning services and cleaning quality will be acceptable for you.</p>
          </div>
        </div>
        <!-- End of Content -->
        <div class="content text-left">
          <div>
            <h5>COMPETENT & FRIENDLY STAFF</h5>
            <p>We work exclusively with professionals. Our employees are always competent, polite and neat.</p>
          </div>
        </div>
        <!-- End of Content -->
        <div class="content text-left">
          <div>
            <h5>CLEANLINESS AND ORDER</h5>
            <p>Our staff will make every effort to satisfy your highest requirements and wishes in the shortest possible time.</p>
          </div>
        </div>
        <!-- End of Content -->
      </div>
      <div class="content-container">
        <div class="content text-left">
          <div>
            <h5>SAFE MATERIALS</h5>
            <p>Cleaning company works with biological means with no chemical additives.</p>
          </div>
        </div>
        <!-- End of Content -->
        <div class="content text-left">
          <div>
            <h5>COMFORT AND CONVENIENCE</h5>
            <p>We will then proceed cleaning at a time that suits you with the maximum benefit and efficiency</p>
          </div>
        </div>
        <!-- End of Content -->
        <div class="content text-left">
          <div>
            <h5>ACTIVE FEEDBACK</h5>
            <p>The most important thing for us is the confidence of our clients. Therefore, we are actively working on feedback
              with you.
            </p>
          </div>
        </div>
        <!-- End of Content -->
      </div>
    </div>
  </div>