<div class="full-width  primary-background-gradient">
  <div class="container">
    <h2 class="text-center">Cleaning Services List</h2>
    <div id="cleaning-services-list" class="text-left">
      <div class="content">
        <h3>YOU URGENTLY REQUIRE THE SERVICES</h3>
        <p>of a cleaning company, and you want to clean at night? Then our offer is specially for you, as our cleaning services are
        available 24 hours a day!</p>
        <p>To conduct high-quality cleaning or dry cleaning alone is practically impossible, because an inexperienced person can significantly
        damage any surface using a non-professional methods and tools.</p>
      </div>
      <!-- End of Content -->
      <div class="content">
        <ul>
          <li><a target="_self" href="#">Commercial Cleaning</a><br></li>
          <li><a target="_self" href="#">Residential Cleaning</a><br></li>
          <li><a target="_self" href="#">Janitorial</a><br></li>
          <li><a target="_self" href="#">Carpets & Floor</a><br></li>
          <li><a target="_self" href="#">Pressure Wash Windows</a><br></li>
          <li><a target="_self" href="#">Strip & Waxing</a>.<br></li>
          <li><a target="_self" href="#">Deep Clean</a><br></li>
          <li><a target="_self" href="#">Move In/Out</a><br></li>
          <li><a target="_self" href="#">Post Construction</a><br></li>
        </ul>
      </div>
      <!-- End of Content -->
      <div class="content">
        <ul class="moto-text_normal">

          <li><a target="_self" href="#">Supplies.</a><br></li>
          <li><a target="_self" href="#">Upholstery</a><br></li>
          <li><a target="_self" href="#">Office Cleaning</a><br></li>
          <li><a target="_self" href="#">General Clean up</a><br></li>
          <li><a target="_self" href="#">Washroom Cleaning</a><br></li>
          <li><a target="_self" href="#">Window Coverings – Blinds & Drapes Cleaning</a><br></li>
          <li><a target="_self" href="#">Snow Removal</a><br></li>
        </ul>
      </div>
      <!-- End of Content -->
    </div>
  </div>
</div>