
.full-width {
    background-color: #eee;
    color: #000;
    padding: 10em .2em;
}

#cleaning-services-list ul a {
    color: #fff;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #cleaning-services-list {
        display: flex;
        flex-direction: column;

    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #cleaning-services-list {
        display: flex;
        flex-direction: row;
    }

    #cleaning-services-list .content:nth-child(1) {
     flex-basis: 50%;
    }
    #cleaning-services-list .content:nth-child(2), #cleaning-services-list .content:nth-child(3) {
     flex-basis: 25%;
    }

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}