<div class="full-width">
  <div class="container">
    <h2 class="text-center">Cleaning Services List</h2>
    <div id="cleaning-services-list" class="text-left">
      <div class="content">
        <h3>YOU URGENTLY REQUIRE THE SERVICES</h3>
        <p>of a cleaning company, and you want to clean at night? Then our offer is specially for you, as our cleaning services are
        available 24 hours a day!</p>
        <p>To conduct high-quality cleaning or dry cleaning alone is practically impossible, because an inexperienced person can significantly
        damage any surface using a non-professional methods and tools.</p>
      </div>
      <!-- End of Content -->
      <div class="content">
        <ul>
          <li><a target="_self" href="#">General cleaning.</a><br></li>
          <li><a target="_self" href="#">Daily cleaning.</a><br></li>
          <li><a target="_self" href="#">Apartment cleaning.</a><br></li>
          <li><a target="_self" href="#">Housekeeping cottages and houses.</a><br></li>
          <li><a target="_self" href="#">Cleaning the vacuum cleaner.</a><br></li>
          <li><a target="_self" href="#">Housemaid</a>.<br></li>
          <li><a target="_self" href="#">Cleaning pools.</a><br></li>
          <li><a target="_self" href="#">Cleaning up of territory.</a><br></li>
        </ul>
      </div>
      <!-- End of Content -->
      <div class="content">
        <ul class="moto-text_normal">
          <li><a target="_self" href="#">Maids at home.</a><br></li>
          <li><a target="_self" href="#">Greening.</a><br></li>
          <li><a target="_self" href="#">Eliminate odor.</a><br></li>
          <li><a target="_self" href="#">Cleaning after fire.</a><br></li>
          <li><a target="_self" href="#">Industrial alpinism.</a><br></li>
          <li><a target="_self" href="#">Commercial cleaning.</a><br></li>
          <li><a target="_self" href="#">Complex cleaning.</a><br></li>
        </ul>
      </div>
      <!-- End of Content -->
    </div>
  </div>
</div>