<div class="full-width">
  <div class="container">
    <h2 class="text-center">Commercial Cleaning</h2>
    <div id="commercial-cleaning" class="text-left">
      <div class="content-container">
        <div class="img-container">
          <img src="https://picsum.photos/600/600" alt="Image">
        </div>
        <!-- End of Image Container -->
        <div class="content">
          <h3>ABSOLUTE PURITY WITH INTEGRATED CLEANING.</h3>
          <p>We all we know, that to maintain cleanliness and order in the House is quite difficult.</p>
        
          <p>It takes a lot of time and effort. For those who value their time, and rest with the family.</p>
        </div>
        <!-- End of Content -->
      </div>
      <!-- End of Content Cointainer -->

      <div class="content-container">
        <div class="img-container">
          <img src="https://picsum.photos/600/600" alt="Image">
        </div>
        <!-- End of Image Container -->
        <div class="content">
          <h3> ENTRUST US YOUR OFFICE CLEANING</h3>
          <p>Daily high quality cleaning of modern office enables you to maintain your status and reputation of the company in the eyes
            of many customers. </p>
        
          <p>Quality, conscientiously performed cleaning is the factor.</p>
        </div>
        <!-- End of Content -->
      </div>
      <!-- End of Content Cointainer -->

    </div>
  </div>
</div>