<div class="full-width ">
  <div class="container">
    <h2 class="text-center">Commercial Cleaning</h2>
    <div id="commercial-cleaning" class="text-left">
      <div class="content-container">
        <div class="img-container">
          <img src="./assets/mopping-floors.gif" alt="Image">
        </div>
        <!-- End of Image Container -->
        <div class="content">
          <h3>OFFICE CLEANING WORKS ALL THE TIME WELL DONE</h3>
          <p>We are focused to delivering you all our abilities in the sector of workspace cleaning. Additionally to our cutting edge machines, we also follow an environmental methodology. All the products we use for cleaning your locations are either organic and natural or have a low environmental influence. They are non-toxis and non polluting.</p>
        </div>
        <!-- End of Content -->
      </div>
      <!-- End of Content Cointainer -->

      <div class="content-container">
        <div class="img-container">
          <img src="./assets/cleaning-cart.gif" alt="Image">
        </div>
        <!-- End of Image Container -->
        <div class="content">
          <h3>WE PROMISE YOU A HIGH LEVEL OF QUALITY</h3>
          <p>ISA CLEAN deals with office cleaning, commercial enterprise cleaning, medical workplace cleaning every single day.</p>
        
          <p> This is what we do best!</p>
        </div>
        <!-- End of Content -->
      </div>
      <!-- End of Content Cointainer -->

    </div>
  </div>
</div>