<div class="full-width  primary-background-gradient">
  <div class="container">
    <h2 class="text-center">CLEANING SERVICES ACROSS THE GREAT TORONTO AREA</h2>
    <p class="text-center mb-1">ISA CLEAN provides exceptional janitorial cleaning, floor cleaning, and office building cleaning services. If you need an office building, medical facility, school, house of worship, laboratory, commercial center, university, hospital, business, or another facility routinely cleaned, sanitized, or maintained in some required manner, just give us a call.
    </p>
  </div>
</div>


<div class="full-width">
  <div class="container" >
    <div id="service-areas" class="text-center">
    <div class="content-container" *ngFor="let item of serviceAreas; index as i">
      <div class="content">
          <h2 class="text-center">{{serviceAreas[i].name}}</h2>
          <img src="{{serviceAreas[i].img}}" class="text-center">
          <p>{{serviceAreas[i].text}}</p>
      </div>
    </div>
  </div>
  </div>
</div>