<div class="full-width">
  <div class="container">
    <h2 class="text-center">What We Offer</h2>
    <p class="text-center">Cleaning company works with biological means with no chemical additives. These funds are anti allergenic effect.</p>
    <div id="what-we-offer" class="text-left">
      <div class="content-container">
        <h3>CLEANING THE SHOP</h3>
        <p>Тhe company has a sufficient number of highly qualified professionals who possess all the necessary skills when working with
        modern equipment for cleaning Shop</p>
        <div class="img-container">
          <img src="https://picsum.photos/600/600" alt="Image">
          <img src="https://picsum.photos/600/600" alt="Image">
        </div>
        <!-- End of Image Container -->
      </div>
      <!-- End of Content Cointainer -->
   
      <div class="content-container">
        <h3>REAL ESTATE CLEANING</h3>
        <p>The main activity of the company is the general cleaning of the real estate, the daily service. Modern client requires impeccable
        service in everything: service, as works</p>
        <div class="img-container">
          <img src="https://picsum.photos/600/600" alt="Image">
          <img src="https://picsum.photos/600/600" alt="Image">
        </div>
        <!-- End of Image Container -->
      </div>
      <!-- End of Content Cointainer -->
   
    </div>
  </div>
</div>