
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #what-we-offer {
        display: flex;
        flex-direction: column;
    }

    #what-we-offer .content-container .img-container {
       margin: 1em 0;
    }
        #what-we-offer .content-container .img-container img {
        width:100%;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #what-we-offer {
        display: flex;
        flex-direction: row;
    }

    #what-we-offer .content-container  {
        width: 50%;
        padding: .8em;
    }
    #what-we-offer .content-container .img-container {
        display: flex;
        flex-direction: row;
       
    }
    #what-we-offer .content-container .img-container img {
        width: 50%;
    }
    #what-we-offer .content-container .img-container img:nth-child(1) {
        padding-right: .5em;
    }
    
    #what-we-offer .content-container .img-container img:nth-child(2) {
        padding-left: .5em;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
