<div class="full-width">
  <div class="container">
    <h2 class="text-center">Some of Our Great Features</h2>
    <p class="text-center">We have cleaned and cleared hundreds of premises, and left a good opinion of ourselves from multiple clients</p>
    <div id="our-features" class="">
      <div class="content-container text-left">
        <div>
          <h3>CONVENIENCE</h3>
          <p>We are confident that our prices for cleaning services and cleaning quality will be acceptable for you.</p>
        </div>
        <div>
          <p>Icon</p>
        </div>
      </div>
      <!-- End of Content Container-->
      <div class="content-container text-center">
        <img src="#" alt="Image">
      </div>
      <!-- End of Content Container-->
      <div  class="content-container text-right">
        <div>
          <p>Icon</p>
        </div>
        <div>
          <h3>INDIVIDUAL APPROACH</h3>
          <p>We are confident that our prices for cleaning services and cleaning quality will be acceptable for you.</p>
        </div>
      </div>
      <!-- End of Content Container-->
    </div>
  </div>
</div>