<div class="full-width">
  <div class="container">
    <h2 class="text-center">Some of Our Great Features</h2>
    <p class="text-center">We have cleaned and cleared hundreds of premises, and left a good opinion of ourselves from multiple clients</p>
    <div id="our-features" class="">
      <div class="content-container text-left">
          <div class="content-header">
            <h3>INDIVIDUAL APPROACH</h3>
            <span>Icon</span>
          </div>
          <div class="content-body">
            <p>We are confident that our prices for cleaning services and cleaning quality will be acceptable for you.</p>
          </div>
      </div>
      <!-- End of Content Container-->
      <div class="content-container text-center">
        <div class="img-container">
           <img src="./assets/cleaning-woman.gif" alt="A happy cleaning woman with her arms opened">
        </div>
      </div>
      <!-- End of Content Container-->
      <div  class="content-container text-right">
          <div class="content-header">
            <h3>INDIVIDUAL APPROACH</h3>
            <span>Icon</span>
          </div>
          <div class="content-body">
            <p>We are confident that our prices for cleaning services and cleaning quality will be acceptable for you.</p>
          </div>
      </div>
      <!-- End of Content Container-->
    </div>
  </div>
</div>