<div class="container">
    <h1 class="text-center">ABOUT US</h1>
    <div class="row">
        <div class="col-12 col-md-12">
            <h3>THE COMPANY'S SUCCESS IS BASED ON A HIGH QUALITY LEVEL</h3>
            <p>We do have dedicated teams of personnel with hands on experience that are always committed to provide
                reliable and
                competitive services to all our clients. We execute all our jobs timely to a high safety and quality
                standard. We
                have
                been closely associated with a number of reputable suppliers providing supply for the cleaning
                industries. This is
                in
                order to strengthen our position and stay competence, it is our intention to diversify through related
                integration
                either backward to source supply or forward to the ultimate of all our customers.</p>

            <h3>OVER 20 YEARS OF EXPERIENCE IN THE COMMERCIAL CLEANING INDUSTRY</h3>
            <p>By hiring ISA you are ensuring that your facility will be cleaning in a professional manner. For over 20 years
            we've provided professional cleaning services all over the great toronto area in areas such as Markham,
            Stouffville, Toronto and more.</p>
        
    </div>   
</div>
<app-call-to-action></app-call-to-action>
</div>