<div class="container">
    <h1 class="text-center">ABOUT US</h1>
    <div class="row">
        <div class="col-12 col-md-8 col-lg-9">
            <h3>THE COMPANY'S SUCCESS IS BASED ON A HIGH QUALITY LEVEL</h3>
            <p>We do have dedicated teams of personnel with hands on experience that are always committed to provide
                reliable and
                competitive services to all our clients. We execute all our jobs timely to a high safety and quality
                standard.</p>

            <h3>OVER 20 YEARS OF EXPERIENCE IN THE COMMERCIAL CLEANING INDUSTRY</h3>
            <p>By hiring ISA you are ensuring that your facility will be cleaning in a professional manner. For over 20 years
            we've provided affordable commercial cleaning services all over the Great Toronto Area in areas such as Markham,
            
            <h3>WE HAVE HIGH STANDARDS</h3>
            <p>ISA strives to provide high standard commercial cleaning services. Our Professional Assurance Program ensures we will keep you satisfy which consists of time logging, inspections and much more.<br><br><b>Our services include:</b></p>
            <app-call-to-action></app-call-to-action>
    </div>   
    <div class="col-12 col-md-4 col-lg-3">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 order-md-1">
                <img src="./assets/performance-assurance-2.svg" class="pb-5 img-fluid" alt="An image describing what our Performance Assurance Program consist of such as a time logging, daily task checking cleaning tasks, inpsections and training our cleaners. ">
            </div>
            <div class="col-12 col-md-12 col-lg-12 order-md-2">
                 <app-contact-form></app-contact-form>
            </div>
        </div>
   
    </div>   
</div>

</div>