
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #our-products {
        display: flex;
        flex-direction: column;
    }

    #our-products .content-container .img-container {
       margin: 1em 0;
    }
        #our-products .content-container .img-container img {
        width:100%;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #our-products .content-container {
        display: flex;
        flex-direction: row;
    }

    #our-products .content-container .img-container {
        width: 25%;
        padding: .8em;
    }

    #our-products .content-container .img-container img {
        width:100%;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
