

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #services-overview {
        display: flex;
        flex-direction: column;
    }

    #services-overview .content-container .img-container {
        box-sizing: border-box;
        padding:30px 0;
    }
    #services-overview .content-container img {
        width: 100%;
    }
} 


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #services-overview .content-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 40px 0;
    }
    #services-overview .content {
        display: flex;
        flex-direction: row;
        width: 33.33%;
    }

    #services-overview .content-container .inner-text {
        width: 60%;
  
    }

    #services-overview .content-container .img-container {
        box-sizing: border-box;
        padding: 0 30px;
    }

    #services-overview .content-container img {
        width: 100%;
    }

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}