<div class="full-width">
  <div class="container">
    <h2 class="text-center">Services Overview</h2>
    <div id="services-overview" class="text-center">
      <div class="content-container">
        <div class="content text-left">
          <div>
              <img src="" alt="Image">
          </div>
          <div>
            <h5>COMPLEX CLEANING</h5>
            <p>For those who value their time, and does not want to choose between cleaning.</p>
          </div>
        </div>
        <!-- End of Content -->
        <div class="content text-left">
          <div>
              <img src="" alt="Image">
          </div>
          <div>
            <h5>OFFICE CLEANING</h5>
            <p>Daily high quality cleaning of modern office enables you to maintain your status.</p>
          </div>
        </div>
        <!-- End of Content -->
        <div class="content text-left">
          <div>
              <img src="" alt="Image">
          </div>
          <div>
            <h5>CLEANING THE WAREHOUSE</h5>
            <p>The specificity of the cleaning of warehouses requires special training for cleaners</p>
          </div>
        </div>
        <!-- End of Content -->
      </div>
      <div class="content-container">
        <div class="content text-left">
          <div>
              <img src="" alt="Image">
          </div>
          <div>
            <h5>CLEANING THE SHOP</h5>
            <p>Тhe company has a sufficient number of highly qualified professionals.</p>
          </div>
        </div>
        <!-- End of Content -->
        <div class="content text-left">
          <div>
              <img src="" alt="Image">
          </div>
          <div>
            <h5>CLEANING THE PARKING LOT</h5>
            <p>Cleaning the parking lot can be considered specific, because to maintain purity.</p>
          </div>
        </div>
        <!-- End of Content -->
        <div class="content text-left">
          <div>
              <img src="" alt="Image">
          </div>
          <div>
            <h5>CLEANING OF THE FITNESS CENTER</h5>
            <p>As is well known, a sign of service and comfort of the public sports institution.</p>
          </div>
        </div>
        <!-- End of Content -->
      </div>
    </div>
  </div>