<div class="full-width">
  <div class="container">
    <h2 class="text-center">Services Overview</h2>
    <div id="services-overview" class="text-center">
      <div class="content-container">
        <div class="content text-left">
          <div class="img-container">
              <img src="./assets/office-cleaning-services.gif" alt="Image">
          </div>

          <div class="inner-text">
            <h5>Office Cleaning</h5>
            <p>For those who value their time, and does not want to choose between cleaning.</p>
          </div>

        </div>
        <!-- End of Content -->
        <div class="content text-left">
          <div class="img-container">
              <img src="./assets/institutional-cleaning.gif" alt="Image">
          </div>

          <div class="inner-text">
            <h5>Institutional Cleaning</h5>
            <p> Whether working with schools, hospitals, or government buildings, ISA CLEAN is ready and able to uphold the highest standards of cleanliness for your institution.</p>
          </div>
        </div>
        <!-- End of Content -->
        <div class="content text-left">
          <div class="img-container">
              <img src="./assets/restauraunt-claening-services.gif" alt="Image">
          </div>

          <div class="inner-text">
            <h5>Restauraunt Cleaning</h5>
            <p>The specificity of the cleaning of warehouses requires special training for cleaners</p>
          </div>
        </div>
        <!-- End of Content -->
      </div>
      <div class="content-container">
        <div class="content text-left">
          <div class="img-container">
              <img src="./assets/stripping-waxing-services.gif" alt="Image">
          </div>
          <div class="inner-text">
            
            <h5>Stripping & Waxing</h5>
            <p>Тhe company has a sufficient number of highly qualified professionals.</p>
          </div>
        </div>
        <!-- End of Content -->
        <div class="content text-left">
          <div class="img-container">
              <img src="./assets/carpet-cleaning-services.gif" alt="Image">
          </div>

          <div class="inner-text">
            <h5>Carpet Cleaning</h5>
            <p>Cleaning the parking lot can be considered specific, because to maintain purity.</p>
          </div>
        </div>
        <!-- End of Content -->
        <div class="content text-left">
          <div class="img-container">
              <img src="./assets/construction-clean-up-services.gif" alt="Image">
          </div>

          <div class="inner-text">
            <h5>Post Construction Cleaning</h5>
            <p>As is well known, a sign of service and comfort of the public sports institution.</p>
          </div>
        </div>
        <!-- End of Content -->
      </div>
    </div>
  </div>