<div class="full-width">
  <div class="container">
    <h2 class="text-center">Green Cleaning</h2>
    <div id="green-cleaning" class="text-left">
      <div class="content-container">
        <div class="content">
          <h3>COMFORT AND CONVENIENCE.</h3>
          <p>We will then proceed cleaning at a time that suits you with the maximum benefit and efficiency.</p>

   

          <h3>ACTIVE FEEDBACK.</h3>
          <p>The most important thing for us is the confidence of our clients. Therefore, we are actively working on feedback with you.</p>
        </div>
        <!-- End of Content -->
      </div>
      <!-- End of Content Cointainer -->

      <div class="content-container">
        <div class="content">
          <h3>INDIVIDUAL APPROACH.</h3>
          <p>We provide each customer a personal manager who according to your desires and needs free develops unique cleaning program</p>

          <h3>RESPONSIBLE APPROACH</h3>
          <p>High quality cleaning work is the main objective for us. A high level of organization and an excellent qualification of our
          employees.</p>
        </div>
        <!-- End of Content -->
      </div>
      <!-- End of Content Cointainer -->
    </div>
  </div>
</div>