/* You can add global styles to this file, and also import other style files */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, apmlet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 dismlay-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}



    .container {
        margin: auto;
    }
br {  
    white-space: pre-line 
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    width: 100%;
    font-size: 17px;
    transition: padding-left;
    padding-left: 0;
    padding-right: 0;


}

.slide-in-body {
    transition: padding-left 500ms;
    padding-left: 100px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        width: 90%;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        width: 70%;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}


.full-width {
    padding: 10em .2em;
}




main {
    padding-top: 95px;
}
/**** Typography ****/
h1, h2, h3, h4, h5, h6 {
    padding: 0.8em;
}
p {
    font-size: 1em;
    padding: .3em 0.8em;
}
h1 {
    font-weight: 800;
    font-size: 2em;
}

h2 {
    font-weight: 800;
    font-size: 1.5em;
}


h3 {
    font-weight: 600;
    font-size: 1.17em;
}

h4 {
    font-weight: 600;
    font-size: 1.12em;
}

h5 {
    font-weight: 600;
    font-size: .83em;
}

h6 {
    font-weight: 600;
    font-size: .75em;
}

ul {
    padding-left: 3em;
}
/**** Grid System ****/

.full-width {
    width: 100%;
}



/**** Helpers ****/
.ml-1 {
    padding-left: 10px;
}

.mr-1 {
    padding-right: 10px;
}

.mt-1 {
    padding-top: 10px;
}

.mb-1 {
    padding-bottom: 50px;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}

.horizontal-line {
    width: 20%;
}
.form-title {
    display: block;
    font-size: 2em;
    font-style: normal;
    letter-spacing: -0.06em;
    line-height: .9em;
}

.btn-2 {
    margin: .8em 0;
    padding: 1em 2.4em;
    font-weight: 800;
    color: #fff;
    letter-spacing: .5px;
    background: rgba(23,26,74,1);
    background: -moz-linear-gradient(left, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(23,26,74,1)), color-stop(50%, rgba(61,66,120,1)), color-stop(100%, rgba(23,26,74,1)));
    background: -webkit-linear-gradient(left, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    background: -o-linear-gradient(left, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    background: -ms-linear-gradient(left, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    background: linear-gradient(to right, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171a4a', endColorstr='#171a4a', GradientType=1 );
    border-radius: .3em .3em;
    border: none;
    cursor: pointer;
}

.btn-2:hover {
   background: rgba(253,198,35,1);
    background: -moz-linear-gradient(left, rgba(253,198,35,1) 0%, rgba(255,212,92,1) 53%, rgba(253,198,35,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(253,198,35,1)), color-stop(53%, rgba(255,212,92,1)), color-stop(100%, rgba(253,198,35,1)));
    background: -webkit-linear-gradient(left, rgba(253,198,35,1) 0%, rgba(255,212,92,1) 53%, rgba(253,198,35,1) 100%);
    background: -o-linear-gradient(left, rgba(253,198,35,1) 0%, rgba(255,212,92,1) 53%, rgba(253,198,35,1) 100%);
    background: -ms-linear-gradient(left, rgba(253,198,35,1) 0%, rgba(255,212,92,1) 53%, rgba(253,198,35,1) 100%);
    background: linear-gradient(to right, rgba(253,198,35,1) 0%, rgba(255,212,92,1) 53%, rgba(253,198,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc623', endColorstr='#fdc623', GradientType=1 );
    color:#171A4A;

}

.btn-1 {
    margin: .8em 0;
    padding: 1em 2.4em;
    font-weight: 800;
    color:#171A4A;
    letter-spacing: .5px;
 background: rgba(253,198,35,1);
    background: -moz-linear-gradient(left, rgba(253,198,35,1) 0%, rgba(255,212,92,1) 53%, rgba(253,198,35,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(253,198,35,1)), color-stop(53%, rgba(255,212,92,1)), color-stop(100%, rgba(253,198,35,1)));
    background: -webkit-linear-gradient(left, rgba(253,198,35,1) 0%, rgba(255,212,92,1) 53%, rgba(253,198,35,1) 100%);
    background: -o-linear-gradient(left, rgba(253,198,35,1) 0%, rgba(255,212,92,1) 53%, rgba(253,198,35,1) 100%);
    background: -ms-linear-gradient(left, rgba(253,198,35,1) 0%, rgba(255,212,92,1) 53%, rgba(253,198,35,1) 100%);
    background: linear-gradient(to right, rgba(253,198,35,1) 0%, rgba(255,212,92,1) 53%, rgba(253,198,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc623', endColorstr='#fdc623', GradientType=1 );
    border-radius: .3em .3em;
    border: none;
    cursor: pointer;
}

.btn-1:hover {
  background: rgba(23,26,74,1);
    background: -moz-linear-gradient(left, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(23,26,74,1)), color-stop(50%, rgba(61,66,120,1)), color-stop(100%, rgba(23,26,74,1)));
    background: -webkit-linear-gradient(left, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    background: -o-linear-gradient(left, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    background: -ms-linear-gradient(left, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    background: linear-gradient(to right, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    color: #fff;
}



.img-shadow {
    box-shadow: 10px 10px 25px #888;
}

.primary-background-gradient {
    color: #fff!important;
background: rgba(23,26,74,1);
background: -moz-linear-gradient(top, rgba(23,26,74,1) 0%, rgba(30,34,92,1) 50%, rgba(23,26,74,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(23,26,74,1)), color-stop(50%, rgba(30,34,92,1)), color-stop(100%, rgba(23,26,74,1)));
background: -webkit-linear-gradient(top, rgba(23,26,74,1) 0%, rgba(30,34,92,1) 50%, rgba(23,26,74,1) 100%);
background: -o-linear-gradient(top, rgba(23,26,74,1) 0%, rgba(30,34,92,1) 50%, rgba(23,26,74,1) 100%);
background: -ms-linear-gradient(top, rgba(23,26,74,1) 0%, rgba(30,34,92,1) 50%, rgba(23,26,74,1) 100%);
background: linear-gradient(to bottom, rgba(23,26,74,1) 0%, rgba(30,34,92,1) 50%, rgba(23,26,74,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171a4a', endColorstr='#171a4a', GradientType=0 );
}

.primary-color-text {
    color: #171A4A;
}

.secondary-color-text {
    color: #ffd45c;
}
.secondary-background-gradient {
color: #000;
background: rgba(253,198,35,1);
background: -moz-linear-gradient(top, rgba(253,198,35,1) 0%, rgba(252,216,119,1) 50%, rgba(253,198,35,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,198,35,1)), color-stop(50%, rgba(252,216,119,1)), color-stop(100%, rgba(253,198,35,1)));
background: -webkit-linear-gradient(top, rgba(253,198,35,1) 0%, rgba(252,216,119,1) 50%, rgba(253,198,35,1) 100%);
background: -o-linear-gradient(top, rgba(253,198,35,1) 0%, rgba(252,216,119,1) 50%, rgba(253,198,35,1) 100%);
background: -ms-linear-gradient(top, rgba(253,198,35,1) 0%, rgba(252,216,119,1) 50%, rgba(253,198,35,1) 100%);
background: linear-gradient(to bottom, rgba(253,198,35,1) 0%, rgba(252,216,119,1) 50%, rgba(253,198,35,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc623', endColorstr='#fdc623', GradientType=0 );
}