@import "./scss/_reset.scss";
@import "./scss/_variables.scss";
@import "./scss/_mixins.scss";
@import "./scss/_base.scss";
@import "./scss/_typography.scss";





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        width: 90%;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        width: 70%;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}




.horizontal-line {
    width: 20%;
}
.form-title {
    display: block;
    font-size: 2em;
    font-style: normal;
    letter-spacing: -0.06em;
    line-height: .9em;
}



.img-shadow {
    box-shadow: 10px 10px 25px #888;
}

.primary-background-center {
    color: #fff!important;
    background: rgba(23,26,74,1);
    background: -moz-linear-gradient(top, rgba(23,26,74,1) 0%, rgba(30,34,92,1) 50%, rgba(23,26,74,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(23,26,74,1)), color-stop(50%, rgba(30,34,92,1)), color-stop(100%, rgba(23,26,74,1)));
    background: -webkit-linear-gradient(top, rgba(23,26,74,1) 0%, rgba(30,34,92,1) 50%, rgba(23,26,74,1) 100%);
    background: -o-linear-gradient(top, rgba(23,26,74,1) 0%, rgba(30,34,92,1) 50%, rgba(23,26,74,1) 100%);
    background: -ms-linear-gradient(top, rgba(23,26,74,1) 0%, rgba(30,34,92,1) 50%, rgba(23,26,74,1) 100%);
    background: linear-gradient(to bottom, rgba(23,26,74,1) 0%, rgba(30,34,92,1) 50%, rgba(23,26,74,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171a4a', endColorstr='#171a4a', GradientType=0 );
    padding: 5em 0;
    margin: 2em 0;

    @include breakpoint(lg) {
            height: 100vh;

    }
    @include breakpoint(ipad-landscape) {
            height: initial;

    }
}


.primary-background {
    color: #fff!important;
background: rgba(23,26,74,1);
background: -moz-linear-gradient(top, rgba(23,26,74,1) 0%, rgba(30,34,92,1) 50%, rgba(23,26,74,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(23,26,74,1)), color-stop(50%, rgba(30,34,92,1)), color-stop(100%, rgba(23,26,74,1)));
background: -webkit-linear-gradient(top, rgba(23,26,74,1) 0%, rgba(30,34,92,1) 50%, rgba(23,26,74,1) 100%);
background: -o-linear-gradient(top, rgba(23,26,74,1) 0%, rgba(30,34,92,1) 50%, rgba(23,26,74,1) 100%);
background: -ms-linear-gradient(top, rgba(23,26,74,1) 0%, rgba(30,34,92,1) 50%, rgba(23,26,74,1) 100%);
background: linear-gradient(to bottom, rgba(23,26,74,1) 0%, rgba(30,34,92,1) 50%, rgba(23,26,74,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171a4a', endColorstr='#171a4a', GradientType=0 );
}

.primary-color-text {
    color: #171A4A;
}

.secondary-color-text {
    color: #ffd45c;
}
.secondary-background {
color: #000;
background: rgba(253,198,35,1);
background: -moz-linear-gradient(top, rgba(253,198,35,1) 0%, rgba(252,216,119,1) 50%, rgba(253,198,35,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,198,35,1)), color-stop(50%, rgba(252,216,119,1)), color-stop(100%, rgba(253,198,35,1)));
background: -webkit-linear-gradient(top, rgba(253,198,35,1) 0%, rgba(252,216,119,1) 50%, rgba(253,198,35,1) 100%);
background: -o-linear-gradient(top, rgba(253,198,35,1) 0%, rgba(252,216,119,1) 50%, rgba(253,198,35,1) 100%);
background: -ms-linear-gradient(top, rgba(253,198,35,1) 0%, rgba(252,216,119,1) 50%, rgba(253,198,35,1) 100%);
background: linear-gradient(to bottom, rgba(253,198,35,1) 0%, rgba(252,216,119,1) 50%, rgba(253,198,35,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc623', endColorstr='#fdc623', GradientType=0 );
}