
body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    width: 100%;
    font-size: 17px;
    transition: padding-left 500ms;
    padding-left: 0;
}

main {
    padding-top: 150.31px;
}


ul {
    padding-left: 3em;
}

br {  
    white-space: pre-line 
}

.container {
    margin: auto;
}

.menu-bg {
    background-color: #17194a;
    color: white;
    padding: 10px;
    margin: 3px 0;
    width: 100%;
    display: block;
}
.bg-white {
    background-color: white;
}
.thick-border-bottom {
    border-bottom: 15px solid #17194a;;
}

.menu-bg:hover {
    color: white;
    background: rgba(253,198,35,1);
}
.full-width {
    width: 100%;
    padding: 10em 0;
}

.char-checkmark {
    color: red;
    font-size: 1.8em;
}

.slide-in-body {
    transition: padding-left 500ms;
    padding-left: 100px;
}

.image-background-1 {
    background-image: url('./assets/cleaning-supplies-mobile.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: cover;
    color: #fff;
    padding: 10em 0;

    @include breakpoint(md) {
            background-image: url('./assets/cleaning-supplies-monitor.gif');

    }
}

.image-background-2 {
    background-image: url('./assets/woman-cleaning-office-mobile.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: cover;
    color: #fff;
    padding: 3em 0;

    @include breakpoint(md) {
            background-image: url('./assets/woman-cleaning-office-monitor.gif');

    }
}

.btn-2 {
    margin: .8em 0;
    padding: 1em 2.4em;
    font-weight: 800;
    color: #fff;
    letter-spacing: .5px;
    background: rgba(23,26,74,1);
    background: -moz-linear-gradient(left, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(23,26,74,1)), color-stop(50%, rgba(61,66,120,1)), color-stop(100%, rgba(23,26,74,1)));
    background: -webkit-linear-gradient(left, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    background: -o-linear-gradient(left, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    background: -ms-linear-gradient(left, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    background: linear-gradient(to right, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171a4a', endColorstr='#171a4a', GradientType=1 );
    border-radius: .3em .3em;
    border: none;
    cursor: pointer;
}

.btn-2:hover {
   background: rgba(253,198,35,1);
    background: -moz-linear-gradient(left, rgba(253,198,35,1) 0%, rgba(255,212,92,1) 53%, rgba(253,198,35,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(253,198,35,1)), color-stop(53%, rgba(255,212,92,1)), color-stop(100%, rgba(253,198,35,1)));
    background: -webkit-linear-gradient(left, rgba(253,198,35,1) 0%, rgba(255,212,92,1) 53%, rgba(253,198,35,1) 100%);
    background: -o-linear-gradient(left, rgba(253,198,35,1) 0%, rgba(255,212,92,1) 53%, rgba(253,198,35,1) 100%);
    background: -ms-linear-gradient(left, rgba(253,198,35,1) 0%, rgba(255,212,92,1) 53%, rgba(253,198,35,1) 100%);
    background: linear-gradient(to right, rgba(253,198,35,1) 0%, rgba(255,212,92,1) 53%, rgba(253,198,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc623', endColorstr='#fdc623', GradientType=1 );
    color:#171A4A;

}

.btn-3 {
    margin: .8em 0;
    padding: 1em 2.4em;
    font-weight: 800;
    color: #fff;
    letter-spacing: .5px;
    background: rgba(23,26,74,1);
    background: -moz-linear-gradient(left, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(23,26,74,1)), color-stop(50%, rgba(61,66,120,1)), color-stop(100%, rgba(23,26,74,1)));
    background: -webkit-linear-gradient(left, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    background: -o-linear-gradient(left, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    background: -ms-linear-gradient(left, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    background: linear-gradient(to right, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171a4a', endColorstr='#171a4a', GradientType=1 );
    border-radius: .3em .3em;
    border: none;
    cursor: pointer;
}

.btn-3:hover {
background: rgba(248,80,50,1);
background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(255,97,79,1) 51%, rgba(231,56,39,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(51%, rgba(255,97,79,1)), color-stop(100%, rgba(231,56,39,1)));
background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(255,97,79,1) 51%, rgba(231,56,39,1) 100%);
background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(255,97,79,1) 51%, rgba(231,56,39,1) 100%);
background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(255,97,79,1) 51%, rgba(231,56,39,1) 100%);
background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(255,97,79,1) 51%, rgba(231,56,39,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0 );

}

.btn-1 {
    margin: .8em 0;
    padding: 1em 2.4em;
    font-weight: 800;
    color:#171A4A;
    letter-spacing: .5px;
 background: rgba(253,198,35,1);
    background: -moz-linear-gradient(left, rgba(253,198,35,1) 0%, rgba(255,212,92,1) 53%, rgba(253,198,35,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(253,198,35,1)), color-stop(53%, rgba(255,212,92,1)), color-stop(100%, rgba(253,198,35,1)));
    background: -webkit-linear-gradient(left, rgba(253,198,35,1) 0%, rgba(255,212,92,1) 53%, rgba(253,198,35,1) 100%);
    background: -o-linear-gradient(left, rgba(253,198,35,1) 0%, rgba(255,212,92,1) 53%, rgba(253,198,35,1) 100%);
    background: -ms-linear-gradient(left, rgba(253,198,35,1) 0%, rgba(255,212,92,1) 53%, rgba(253,198,35,1) 100%);
    background: linear-gradient(to right, rgba(253,198,35,1) 0%, rgba(255,212,92,1) 53%, rgba(253,198,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc623', endColorstr='#fdc623', GradientType=1 );
    border-radius: .3em .3em;
    border: none;
    cursor: pointer;
}

.btn-1:hover {
  background: rgba(23,26,74,1);
    background: -moz-linear-gradient(left, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(23,26,74,1)), color-stop(50%, rgba(61,66,120,1)), color-stop(100%, rgba(23,26,74,1)));
    background: -webkit-linear-gradient(left, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    background: -o-linear-gradient(left, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    background: -ms-linear-gradient(left, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    background: linear-gradient(to right, rgba(23,26,74,1) 0%, rgba(61,66,120,1) 50%, rgba(23,26,74,1) 100%);
    color: #fff;
}

.green-text {
    color: #a6eb93;
}