body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    width: 100%;
    font-size: 17px;
    transition: padding-left 500ms;
   padding-left: 0;
   color: #fff;
   background-color: $primary-color;
}
@import "src/scss/_variables.scss";

ul {
    padding-left: 1em;
}

br {  
    white-space: pre-line 
}

.container {
    margin: auto;
}

a {
    color: #fff;
}
.bg-white {
    background-color: white;
}
.thick-border-bottom {
    border-bottom: 15px solid #17194a;;
}


.full-width {
    width: 100%;
    padding: 10em 0;
}

.char-checkmark {
    color: rgb(255, 0, 0);
}


.image-background-1 {
    background-image: url('./assets/cleaning-supplies-mobile.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding: 5em 0;
    margin: 2em 0;

    @include breakpoint(md) {
            background-image: url('./assets/cleaning-supplies-monitor.gif');
            height: 100vh;

    }
}

