body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    width: 100%;
    font-size: 17px;
    transition: padding-left 500ms;
   padding-left: 0;
   color: #fff;
   background-image: url("/assets/main-wallpaper.gif");
   background-repeat: no-repeat;
   background-size: cover;
}
@import "src/scss/_variables.scss";
.bg-dark {
    background-color: initial!important;
}
ul {
        padding-left: 3em;

}

br {  
    white-space: pre-line 
}

.container {
    margin: auto;
}

.bg-white {
    background-color: white;
}
.thick-border-bottom {
    border-bottom: 15px solid #17194a;;
}


.full-width {
    width: 100%;
    padding: 10em 0;
}

.char-checkmark {
    color: rgb(255, 0, 0);
}
