@import "src/scss/_mixins.scss";
@import "src/scss/_variables.scss";

#side-menu {
     .menu-item {
        background-color: $primary-color;
        color: white;
        padding: 10px;
        margin: 3px 0;
        width: 100%;
        display: block;
    }
    .menu-item.active {
        background-color: $accent-color;
        text-decoration: underline;
    }

    .menu-item:hover {
        color: white;
        text-decoration: none;
        background-color: red;
    }
}

