#mobile_nav_content_container {
  position: relative;
  z-index: 0;
}

#mobile-menu {
  position: fixed;
  transition: left 500ms;
  top: 0;
  right: 0;
  bottom: 0;
  left: -290px;
  width: 220px;
  padding: 30px;
  background: #fecb3a;
  box-shadow: 5px 5px 10px #333;
  z-index: 0;
  
}

#mobile-menu ul {
  list-style-type: none;
}


#mobile-menu li a {
  font-size: 1.7em;
  display: block;
  text-decoration: none;
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.8);
}

#mobile-menu li a:hover {
  color: rgba(255, 255, 255, 1);
}

.mobile-nav-toggler {
    transition: left 500ms;
    text-decoration: none;
    font-size: 4em;
    color: white;
    background: #191c4d;
    display: block;
    width: 66px;
    text-align: center;
    padding: 0px;
    height: 50px;
    line-height: 0.7em;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    /* box-shadow: 8px 5px 12px #888; */
    left: 0px;
    cursor: pointer;
    z-index: 10000;
}

.mobile-nav-toggler:hover {
  background: #666;
}


.slide-in {
  left: 0!important;
}

.slide-in-toggler {
  left: 280px!important;
}
