<div id="slider">
  
  <div *ngFor="let item of content.slides; index as i">
    <div class="content-container"  *ngIf="currentRoute == item.routeUrl">
      <img 
        srcset="
        {{item.imgs.mobile}} 320w, 
        {{item.imgs.monitor}} 7600w"  
      alt={{item.imgs.altText}}>
      <div class="content text-center">
        <h1>{{item.heading}} </h1>
        <p>{{item.text}}</p>
      </div>
    </div>
  </div>
</div>
<div id="bottom" class="secondary-background" *ngIf="currentRoute == '/'">
  <div class="container">
    <div class="content-container">
      <div class="content">       <img src="./assets/isa-van-right.gif" alt="">
      </div>
    </div>
    <div class="content-container">
      <div class="content">
        <h2>10% OFF OUR FLOOR REJUVENATION SERVICE</h2>
        <p>Get a free quote to rejuvenate those dirty old looking floors so you can make a great first impression!</p>
        <button class="btn-3">FREE QUOTE</button>
      </div>
    </div>
  </div>
</div>

