@import "src/scss/_mixins.scss";

#slider  {
    width: 100%;
    .content-container {
        position: relative;
        z-index: -100;

        img {
            width: 100%;
            display:block;
        }

        .content {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            color: #fff;
            width: 100%;
        }

        @include breakpoint(md) {
            .content {
             width: 60%;
            }

            img {
                height: 100vh;
            }
        }
        @include breakpoint(ipad-landscape) {
            
            .content {
                width: 90%;
            }
            img {
                height: 500px;
            }
        }

        @include breakpoint(ipad-portrait) {
            .content {
                width: 80%;
            }
            img {
                height: 500px;
            }
        }
    }
}
