<div id="slider">
  <div class="content-container">
    <img 
    srcset="
    ./assets/main-image-mobile.gif 320w, 
    ./assets/main-image-monitor.gif 7600w"  
alt="">
    <div class="content text-center">
   
      <h1>YOUR ONE STEP CLOSER TO A HEALTHIER COMMERCIAL CLEANING SERVICE</h1>
      <p>For over a decade we've helped businesses in Toronto, Markham, Richmond Hill and Stouffville by keeping them safe from harsh deadly cleaning products that can cause health problems to your staff and people entering your facility.</p>
    </div>

  </div>
</div>

<div id="bottom" class="secondary-background">
  <div class="container">
    <div class="content-container">
      <div class="content">       <img src="./assets/isa-van-right.gif" alt="">
      </div>
    </div>
    <div class="content-container">
      <div class="content">
        <h2>10% OFF OUR FLOOR REJUVENATION SERVICE</h2>
        <p>Let ISA rejuvenate those dirty old looking floors so you can make a great first impression!</p>
        <button class="btn-3">FREE QUOTE</button>
      </div>
    </div>
  </div>

</div>