#slider  {

 
    .content-container {
        position: relative;
        z-index: -100;

        img {
            width: 100vw;
            display:block;
        }

        .content {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            color: #fff;
        }
    }
}

#bottom .container {
    display: flex;
    flex-direction: row;

    .content-container {
        flex-basis: 50%;
    }
}