<div class="full-width  primary-background-gradient">
  <div class="container">
    <h2 class="text-center">What We Do</h2>
    <div id="what-we-do" class="text-center">
      <div class="content-container">
        <div class="content text-left">
          <div class="icon-container">
            <span>icon</span>
          </div>
          <div class="text">
            <h5>COMPLETE JANITORIAL SERVICES</h5>
            <p>Today, there’s much more to janitorial services than maintaining a clean property. Diamond Cleaning Services provides clients
            with a full range of services based on their individual needs.</p>
          </div>
        </div>
        <!-- End of Content -->
        <div class="content text-left">
          <div class="icon-container">
            <span>icon</span>
          </div>
          <div class="text">
            <h5>POST-CONSTRUCTION CLEANING</h5>
            <p>Post-construction cleaning for new and remodelled businesses. Our post-construction cleaning division uses some or all our
            cleaning capabilities to prepare a building or home.</p>
          </div>
        </div>
        <!-- End of Content -->
        <div class="content text-left">
          <div class="icon-container">
            <span>icon</span>
          </div>
          <div class="text">
            <h5>CARPET CLEANING</h5>
            <p>All carpets and upholstery will be carefully cleaned using state-of-the-art hot water extraction equipment which reduces
            drying time, leaving carpets fresh and ready to walk on in just hours.</p>
          </div>
        </div>
        <!-- End of Content -->
      </div>
      <div class="content-container">
        <div class="content text-left">
          <div class="icon-container">
            <span>icon</span>
          </div>
          <div class="text">
            <h5>WINDOW CLEANING</h5>
            <p>We specialize in interior and exterior window cleaning and offer the best possible service at a reasonable price. Residential
            and Commercial cleaning available.</p>
          </div>
        </div>
        <!-- End of Content -->
        <div class="content text-left">
          <div class="icon-container">
            <span>icon</span>
          </div>
          <div class="text">
            <h5>STRIPPING & WAXING</h5>
            <p>High traffic areas are prone to dirt and grit and give a beautiful floor a less-than-professional look. Ensure the appearance
            and cleanliness of all your floors with cleaning and waxing services.</p>
          </div>
        </div>
        <!-- End of Content -->
        <div class="content text-left">
          <div class="icon-container">
            <span>icon</span>
          </div>
          <div class="text">
            <h5>POWER WASHING</h5>
            <p>Power Washing can help restore your pathways, entrances or parking areas to its original beauty. The best Power Washing /
            Pressure Washing for Industrial, Commercial, and Residential buildings in the GTA.
            </p>
          </div>
        </div>
        <!-- End of Content -->
      </div>
    </div>
  </div>